:root {
    --bg: #f9f9f9;
    --prymary: #b78c0a;
}

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--bg);
    color: #fff;
}

/* navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.3rem 7%;
    background-color: rgb(255, 255, 255);
    /*border-bottom: 1px solid #323131;*/
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}

.navbar .navbar-logo {
    display: flex;
    align-items: center;
}

.navbar .navbar-logo img {
    width: 40px;
    height: 40px;
}
.navbar .navbar-logo span {
    color: #565252;
}

.navbar-nav {
    display: flex;
    margin-left: auto;
    gap: 20px;
}
.navbar .navbar-nav a {
    color: #000000;
    display: inline-block;
    font-size: 1.2rem;
    margin: 0 1rem;
}

.navbar .navbar-nav a:hover {
    color: #b78c0a;
}

.navbar .navbar-nav a::after {
    content: '';
    display: block;
    padding-bottom: 0.5rem;
    border-bottom: 0.1rem solid var(--prymary);
    transform: scaleX(0);
    transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
    transform: scaleX(0.5);
}

.navbar .navbar-extra a {
    color: #000000;
    margin: 0 0.5rem;
}

.navbar .navbar-extra a:hover {
    color: var(--prymary);
}

#hamburger-menu {
    display: none;
}

/* Hero Section */
.hero {
    min-height: 100vh;
    display: flex;
    align-items: center;

    background-image: url("../img/patternbrwstsAsset 1 1.png");
    background-repeat: repeat;          /* ulangi pattern */
    background-size: 520px 620px;       /* UBAH ANGKA INI */
    background-position: center;
}

.hero .content {
    max-width: 60rem;
    padding: 0 7%;
}

.hero .content h1 {
    font-size: 4.5rem;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 1rem;
    color: #000000;
}

.hero .content p {
    font-size: 1.6rem;
    line-height: 1.8;
    margin-bottom: 2.5rem;
    color: #000000;
}

.hero .hero-char {
    text-align: center;
}

.hero .hero-char img {
    max-width: 2000px;  /* ATUR UKURAN DI SINI */
    width: 100%;
    height: auto;
    margin-top: 5rem;
}
/* Media Queries*/

/* Laptop */
@media (max-width: 1366px) {
    html {
        font-size: 75%;
    }
}

/* Tablet */
@media (max-width: 758px) {
    html {
        font-size: 62.5%;
    }

    #hamburger-menu {
        display: inline-block;
    }

    .navbar .navbar-nav {
        position: absolute;
        top: 100%;
        right: -100%;
        background-color: #000000;
        width: 30rem;
        height: 100vh;
        transition: 0.3s;
    }

    .navbar .navbar-nav.active {
        right: 0;
    }

    .navbar .navbar-nav a {
        color: var(--bg);
        display: block;
        margin: 1.5rem;
        padding: 8px;
        font-size: 2rem;
    }

    .navbar .navbar-nav a::after {
        transform-origin: 0 0;
    }

    .navbar .navbar-nav a:hover::after {
        transform: scaleX(0.2);
    }
}

/* Mobile */
@media (max-width: 450px) {
    html {
        font-size: 55%;
    }
}